.SecondSection{
    padding: 6rem 0px   ;
}
@media screen and (max-width:750px) {
    .FirstSection{
        padding: 0px !important;
    }
    .FirstSection >div{
        flex-direction: column;
    }    
    .FirstSection > div > *{
        width: 90% !important;
    }   
    .SecondSection > div {
        padding: 0px !important;
    }
    .SecondSection > div > div{
        flex-direction: column;
        align-items: center;
    }
    .SecondSection > div > div img{
        width: 100% !important;
    }
    .Title{
        font-size: 30px !important;
    }
    
}
