.AddTagBtn>button{
 width: 25%;       
}
.OptionsDivs > div {
    max-width: 100%;
    flex-grow: 1;
}
@media screen and (max-width:1000px) {
    .AddTagBtn>button{
        width: 75%;
        margin: 0.5rem;
    }
}
@media screen and (max-width:950px) {
    .OptionsDivs{
        flex-direction: column;
        align-items: center;
    }
    .OptionsDivs > div{
        max-width: 100%;
        flex-grow: 1;
    }
    
}