.SearchSection{
    width: 75%;
}
@media screen and (min-width:830px) {
    .SearchButton > input{
        width: 75%;
    }
    .SearchButton > button{
        width: 25%;
    }
}
@media screen and (max-width:1000px) {
    .SearchSection{
        width: 95%;
    }
}
@media screen and (max-width:830px) {
    .Lists{
        width: 100%;
    }
    .SearchButton{
        display: flex;
        flex-direction: column;
    }
    .SearchButton > input{
        flex-grow: 1;
    }
    .SearchSection *{
        font-size: 12px;
    }
}
